REACT_APP_API_URL=http://localhost:8000
REACT_APP_SUPABASE_URL=https://dstpnbhimggcdhdsscoe.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzdHBuYmhpbWdnY2RoZHNzY29lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODE1MDExOSwiZXhwIjoyMDkzNzI2MTE5fQ.mB-2z2eASY8vBTLED30nLNAD3ilzl9EKPNNZACZiOkY
